<footer>
    <div class="footer-content">
      <div class="footer-section about">
        <h2>About Us</h2>
        <p>Stock Exchange.com è una piattaforma online leader nel fornire informazioni dettagliate, analisi approfondite e strumenti avanzati per gli investitori e gli operatori del mercato finanziario. Siamo il punto di riferimento per coloro che cercano dati affidabili e servizi di trading efficienti per partecipare attivamente ai mercati finanziari globali.</p>
      </div>
  
      <div class="footer-section links">
        <h2>Links Utili</h2>
        <ul>
          <li><a mat-list-item routerLink="/about" >About</a></li>
          <li><a mat-list-item routerLink="/">Grafici</a></li>
          <li><a href="#">3</a></li>
          
        </ul>
      </div>
  
     
    </div>
  
    <div class="footer-bottom">
      &copy; 2024 StockExchange.com 
    </div>
  </footer>
