
  <!--
    <div>
  <mat-form-field class="filed1">
    <mat-label>Scegli la data</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
      <mat-form-field class="example-full-width">
    <mat-label>filtro</mat-label>
    <
      <input type="text"
           placeholder="Scegli il filtro"
           aria-label="Tipo"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="applyFilter()">Applica</button>
  -->
  <div>
    
    
  </div>