<app-menu></app-menu>


 <div class="graph-container">
  <canvas baseChart
  [datasets]="data"
  [labels]="lineChartLabels"
  [options]="lineChartOptions"
  [type]="'line'">
</canvas>

  </div>
  <div>
    <button class="button1" mat-raised-button color="primary" (click)="addNewDataset()">Aggiungi una linea casuale</button>
    <button  class="button2"mat-raised-button color="primary"  (click)="deleteDataset()">Elimina una linea </button>
    <button  class="button3"mat-raised-button color="primary"  (click)="resetDataset()">Reset </button>
    
      
  </div>
   <app-filter (newData)="newData($event)"></app-filter>
    <app-footer></app-footer>
    